form {
    border: none;
    margin: 5%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding-right: 2%;
}

#searchQuery {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}

#courseSearchFormSubmit {
    background-color: black;
    color: white;
    margin-top: 1em;
}

#toggleSearchFilters {
    border: 2px solid gray;
    margin-top: 3em;
}