.coursePreviewContainer {
    border: 0.1px solid black;
    border-radius: 8%;
    text-align: center;
    height: 20em;
    width: 16em;
}

#courseTags {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 60%;
    column-gap: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
}

.tag {
    height: 120%;
    min-width: fit-content;
    padding: 2% 2%;
    font-size: small;
    text-align: center;
}