#coursesListContainer{
  min-height: 80vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#coursesListContainer > header {
  grid-area: title;
}

#searchBar {
text-align: center;
}

#searchInput {
  width: 60vw;
  border-radius: 12px;
  padding: 1em;
  border: 2px solid gainsboro;
}

#courseListFilters {
  width: 50%;
  margin: auto;
}

#searchFilters > button {
background-color: rgba(173, 216, 230, 0.509);
}

/*Hide search bar label but keep it accessible */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#courseSection {
  text-align: center;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#courseGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

#browseByYear {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#browseByYear > :not(h4) {
  font-family: monospace;
}

#browseByYear > h4 ~ * {
  padding: 1%;
  width: fit-content;
  margin: auto;
}

#browseByYear > h4 ~ *:hover {
  background-color: rgba(135, 207, 235, 0.297);
}

/*gets rid of the line animations used for navbar links */
#browseByYear > h4 ~ *::after {
  background-color: white;
}

/* desktop view: */

@media only screen and (min-width: 910px) {

  #coursesListContainer{
      min-height: 80vh;
      width: 98vw;
      display: grid;
      column-gap: 10%;
      grid-template-columns: .5fr 1fr .8fr;
      grid-template-areas:
      ". title ."
      "byYear srch srch "
      "byYear courses . "
      ". courses . "
      ;
  }

  #courseListFilters {
    width: 100%;
  }

  #searchSection {
    grid-area: srch;
    display: flex;
    flex-direction: column;
    justify-self: start;
  }

  #searchInput {
      width: 30vw;
      border-radius: 12px;
      padding: 1em;
      border: 2px solid gainsboro;
  }

  .checkBox {
    display: flex;
    align-items: center;
    padding: auto;
  }

  #searchFilters > button {
    background-color: rgba(173, 216, 230, 0.509);
  }

  /*Hide search bar label but keep it accessible */
  .visuallyHidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    #courseSection {
      grid-area: courses;
      text-align: center;
      padding: 2%;
      display: flex;
      flex-direction: column;
      gap: 2em;
    }

    #courseGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10%;
    }

    #browseByYear {
      grid-area: byYear;
      text-align: center;
      display: flex;
      flex-direction: column;
      border: 1px ridge black;
      border-radius: 8%;
      
    }

    #browseByYear > :not(h4) {
      font-family: monospace;
      font-size: large;
    }

    #firstYearLink {
      grid-area: first;
    }

    #secondYearLink{
      grid-area: second;
    }

    #thirdYearLink{
      grid-area: third;
    }

    #fourthYearLink{
      grid-area: fourth;
    }

    #browseByYear > h4 ~ * {
      padding: 3%;
      width: 50%;
      margin: auto;
    }

    #browseByYear > h4 ~ *:hover {
      background-color: rgba(135, 207, 235, 0.297);
    }

    /*gets rid of the line animations used for navbar links */
    #browseByYear > h4 ~ *::after {
      background-color: white;
    }
}