#layoutContainer {
   min-height: 100vh;
   min-width: 320px;
   max-width: 99vw;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

#navBar {
    min-width: 100%;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.767);
}

#navBar > ul {
    display: flex;
    justify-content: center;
    gap: 3%;
    list-style-type: none;
    min-width: fit-content;
    margin: auto;
}

#navBar > ul > li > a {
    font-size: large;
    color: white;
}

#footer {
    max-width: 100%;
    background-color: black;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}