#reviewFormContainer {
    display: flex;
    flex-direction: column;
}

#radioFields {
    margin-top: 2px;
}
#reviewFormContainer > form > textarea {
    resize: none;
    width: 40%;
    margin: auto;
    border-radius: 30px;
    padding-left: 2%;
    padding-top: 1%;
    font-size: larger;
    word-wrap: break-word;
}

#reviewFormContainer > form > input:last-child {
    width: 10%;
    padding: 5px;
    border-radius: 8px;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
}

#reviewFormContainer > form {
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#reviewFormContainer > header {
    text-align: center;
    margin-top: 2%;
}

#miscFields {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-bottom: 2%;
    font-family: Cambria, Cochin, Georgia;
}

#miscFields > input:last-child {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#anonymousCheckBox {
    display: flex;
    margin: auto;
    margin-top: 2px;
}