.review {
    text-align: center;
}

#authorAndDate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#authorAndDate > p:first-child {
    grid-column-start: 2;
}

#authorAndDate > p:last-child {
    font-weight: lighter;
    font-style: italic;
}

#reviewRatings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reviewRatings > p {
    margin: 0;
}

#miscReviewDetails {
    display: flex;
    justify-content: center;
    gap: 5%;
}


#reviewContent {
    background-color: beige;
    text-align: start;
    padding-left: 2%;
    padding-top: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    width: 80%;
    min-height: 10em;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 5%;
}

@media only screen and (min-width: 580px) {

    #reviewRatings {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }
    

}