#searchFormFilters {
    display: flex;
    flex-direction: column;
    border: none;
}

#searchFormFilters > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

#courseListFilters {
    display: grid;
    grid-template-columns: 1fr 1fr;
}