#signUpPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#loginLink {
    font-size: x-large;
    margin-top: 3%;
    font-family: 'garamond';
}