#userProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

#userInfo {
    width: fit-content;
    text-align: left;
}

#userInfo > p {
    font-size: x-large;
    font-family: garamond;
    color: rgb(33, 82, 2);
    font-weight: bolder;
}


#showUserReviewsButton {
    margin-top: 2%;
    border: solid black 2px;
}